body {
	background-color: rgba(196, 196, 134, 0.849);
}

div.container-listas {
	display: flex;
}

.container-listas h2 {
	display: block;
}

.listas {
	margin: 0px 30px;
}

.Contain-IMG img {
	max-width: 30vw;
	border-radius: 10px;
	border: 3px solid black;
}

.Contain-IMG figcaption {
	font-size: large;
}

.lorem {
	margin: 10px;
	max-width: 70vw;
}

.menu-desplegable {
	padding: 12px;
}

.menu-desplegable img {
	max-width: 20vw;
}

.links:active {
	display: inline-flex;
	position: relative;
}

abbr {
	text-decoration: none;
}
table {
	border: 1px solid #222222;
}
table td {
	padding: 5px;
}
table th {
	border-bottom: black solid 2px;
}
