* {
	margin: 0;
	padding: 0;
}

.containNav {
	background: rgb(199, 199, 45);
	font-size: large;
	padding: 8px;
	height: 28px;
	border: 5px double rgb(156, 130, 112);
	box-sizing: content-box;
	position: fixed;
	right: 0;
}

.divs {
	text-align: center;
	margin: 10px;
	font-size: 20px;
	position: absolute;
	right: 40vw;
}
.caja2 {
	position: absolute;
	z-index: 1;
	right: 80px;
	height: 100px;
	width: 100px;
	background: darkolivegreen;
}
.caja3 {
	position: relative;
	z-index: 10;
	top: 25px;
	height: 100px;
	width: 100px;
	background: darkcyan;
	opacity: 0.5; /*Opacity es la opacidad o transparencia del elemento y solo va desde 0 a 1 donde 0 es totalmente transparente y 1 y totalmente visible*/
}
.caja4 {
	position: relative;
	height: 100px;
	width: 100px;
	background: darkmagenta;
}

.divPadre {
	width: 200px;
	height: 200px;
	margin: 50px;
	background: rgb(79, 76, 231);
}

.divHijo {
	z-index: -1; /*Esta es la unica manera para que el contenedor padre se coloque encima del contenedor hijo, que el hijo tenga un z-index de -1 y el padre no tenga un z-index definido*/
	width: 120px;
	height: 120px;
	position: relative;
	top: -40px;
	left: -40px;
	background: rgb(116, 165, 59);
}

.Div-container {
	display: block;
	position: relative; /*Para poder posicionar las cajas o elementos hijos y que estos tomen como referencia a la caja contenedora hay que positionar la caja contenedora también en relative*/
	background: rgb(148, 148, 148);
	width: 300px;
	height: 300px;
	margin: 30px;
}

.Div-container div {
	display: block;
	position: absolute;
	width: 50px;
	height: 50px;
	background: burlywood;
	text-align: center;
}
.Div-caja1 {
	top: 0;
}
.Div-caja2 {
	right: 0;
}
.Div-caja3 {
	bottom: 0;
	right: 0;
}
.Div-caja4 {
	bottom: 0;
}
.Div-caja5 {
	/*Para alinear una caja o un elemento dentro de otro para no tener que ponernos a medir lo que debemos hacer es colocar el elemento en una position absolut y ademas colocar todas sus propiedades en 0 como las tenemos aquí, y además de eso colocar un margin auto para que finalmente nos lo centre*/
	margin: auto;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
}
.lorem {
	font-size: larger;
	margin: 10px 70px;
}

.div-display div {
	font-size: 2em;
	width: 200px;
	height: 200px;
	margin: 20px;
	background: burlywood;
	border: 10px solid sienna;
	display: inline-block;
}
